<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <li
          class="list-group-item">
        </li>
      </ul>
      <ng-template [ngIf]="onlyOdd">
        <p>Only odd</p>
      </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p appBasicHighlight>Set with basic highlight</p>
      <p appBetterHighlight>Set with better highlight</p>
    </div>
  </div>
</div>
